<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello  <%=locals.text|| 'Default'%> </h1>
    <p>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit.
       Consequatur ut, id voluptatibus corporis, deserunt eum perferendis 
       dolore accusamus possimus tempore veritatis porro sint inventore 
       tempora vero iure expedita? Tempore, rem.
    </p>
</body>
</html>